html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font: $normal-font-size 'Oxygen', Helvetica;
  background: $color-white;
}
header {
  height: 60px;
  background: $color-white;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 1px 2px 6px 0px #777;
}
h1 {
  margin: 0;
}
.home {
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}
input {
  width: 200px;
  height: 40px;
  border: none;
  padding-left: 20px;
}
button {
  background: #e23a3a;
  border: 2px solid #e23a3a;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px #777;
  color: $color-white;
  padding: 10px 15px;
  margin-top: 20px;
}
.button {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 451px) {
  body {
      font-size: 18px;
  }
  input {
      width: 280px;
  }
  button {
      margin-top: 0;
  }
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
